.texto-clases {
  overflow-y: scroll;
  height: 600px;
}
html, body {
  height: 100% !important;
}
html {
    font-family: Papercraft, Calibri, Trebuchet, sans-serif;
  }
#root {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#root > div > main > div > div.section.jumbotron > div > div > h1 {
  color: white;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}
.jumbotron {
  background-image: url("https://ichef.bbci.co.uk/news/ws/660/amz/worldservice/live/assets/images/2014/09/04/140904193447_programacion_624x351_thinkstock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}
