.texto-clases {
  overflow-y: scroll;
  height: 600px;
}

body {
     display: flex;
     min-height: 30vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
